@font-face {
    font-family: 'Cheltenham Book';
    src: url('fonts/Cheltenham\ Book.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
 @font-face {
        font-family: 'Cheltenham Italic';
        src: url('fonts/Cheltenham\ Italic.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;}
 @font-face {
            font-family: 'Cheltenham Light';
            src: url('fonts/Cheltenham\ Light.ttf') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;}
 
html{
    cursor: url(cursor-small.png), url(cursor-small-01.svg), auto;
} 
#generateButton{

        font-family: 'Cheltenham Light';
        font-weight: lighter;
        font-size: 15vh;
        text-align: center;
        color: red;
        line-height: 12vh;
        letter-spacing: -1px;
        padding-top: 30vh;
        user-select: none;

}
.word {
    position: absolute;
    font-size: 20vh;
    color: blue;
    pointer-events: none;
    font-family: 'Cheltenham Book';
}


