@font-face {
    font-family: 'Cheltenham Book';
    src: url('fonts/Cheltenham\ Book.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
 @font-face {
        font-family: 'Cheltenham Italic';
        src: url('fonts/Cheltenham\ Italic.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;}
 @font-face {
            font-family: 'Cheltenham Light';
            src: url('fonts/Cheltenham\ Light.ttf') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;}
 
            html{
                cursor: url(cursor-small.png), auto;
            }           
            h1{
            
                font-family: 'Cheltenham Light';
                font-weight: lighter;
                font-size: 20vh;
                text-align: center;
                padding-top: 20vh;
            }
            a:visited{
                color: red;
            }
            a:hover{
                color: blue;
                cursor: url(cursor-small.png), auto;
            }
            .full-text{
              color: red;
              font-family: 'Cheltenham Light';
              cursor: url(cursor-small.png), auto;
            }
            .body1{
                font-size: 10vh;
                padding: 5vh;
            }
            .body2{
                font-size: 20vh;
                padding: 1vh;
            }
            .body3{
                font-size: 3vh;
                padding-top: 10vh;
                padding-left: 25vw;
                padding-right: 25vw;
                padding-bottom: 10vh;
            }
            a{
                text-decoration: none;
            }
            sup{
                font-size: 6vh;
            }
              .footer {
                font-size: 3vh;
                font-family: 'Cheltenham Book'; 
                cursor: url(cursor-small.png), auto;
                color: red;
                display: flex;
                justify-content: space-around;
                align-items: center;
              }
            nav{
                font-size: 3vh;
                font-family: 'Cheltenham Book'; 
                cursor: url(cursor-small.png), auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                color:red;
              }
              .border-box{
                border: 2px solid red;
                padding: 20px;
              }
              .invisible{
                color: white;
              }
              .invisible:hover{
                color:blue;
            
              }