@font-face {
    font-family: 'Cheltenham Book';
    src: url('fonts/Cheltenham\ Book.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}
 @font-face {
        font-family: 'Cheltenham Italic';
        src: url('fonts/Cheltenham\ Italic.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;}
 @font-face {
            font-family: 'Cheltenham Light';
            src: url('fonts/Cheltenham\ Light.ttf') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;}
 
html{
    cursor: url(cursor-small.png), url(cursor-small-01.svg), auto;
}           
h1{

    font-family: 'Cheltenham Light';
    font-weight: lighter;
    font-size: 20vh;
    text-align: center;
    padding-top: 20vh;
}
a:visited{
    color: red;
}
a:hover{
    color: blue;
    cursor: url(cursor-small.png), auto;
}
a{
    text-decoration: none;
    color: red;
}   
body{
    color: red;
    font-size: 10vh;
    font-family: 'Cheltenham Light';
    padding: 5vh;
    cursor: url(cursor-small.png), url(cursor-small-01.svg) auto;
}
sup{
    font-size: 6vh;
}
  .footer {
    font-size: 2.5vh;
    line-height: 3vh;
    font-family: 'Cheltenham Book'; 
    text-align: center;
    cursor: url(cursor-small.png), url(cursor-small-01.svg) auto;
    position: absolute;
    bottom: 0;
    width: 95%;
  }

  