@font-face {
        font-family: 'Alfabet Black';
        src: url('Alfabet/Alfabet\ Black.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;}
@font-face {
        font-family: 'Alfabet Black Italic';
        src: url('Alfabet/Alfabet\ Black\ Italic.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;}        
@font-face {
        font-family: 'Alfabet Bold';
        src: url('Alfabet/Alfabet\ Bold.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;}
@font-face {
        font-family: 'Alfabet Bold Italic';
        src: url('Alfabet/Alfabet\ Bold\ Italic.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;} 
@font-face {
        font-family: 'Alfabet Regular';
        src: url('Alfabet/Alfabet\ Regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;}
@font-face {
        font-family: 'Alfabet Regular Italic';
        src: url('Alfabet/Alfabet\ Regular\ Italic.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;} 
        @font-face {
                font-family: 'Cheltenham Light';
                src: url('Cheltenham\ Light.ttf') format('opentype');
                font-weight: normal;
                font-style: normal;
                font-display: swap;}                      

/*for mobile*/        
 @media only screen and (max-width: 1441px) {
        .header{
                padding: 1.5rem;
        }
        .dates, .location{
                font-size: 3.5rem;
                line-height: 3rem;
                padding-left: 15px;
        }
        .location{
                padding-top: 5rem;
        }
        .caviat{
                padding-top: 1rem;
                font-size: 2rem;
                line-height: 1.8rem; 
                padding-left: 15px;
        }
        .NEWYORK, .C2OMEDY, .FESTIVAL{
                font-family: 'Alfabet Black';
                font-size: 11.5rem;
                width: 100%;
                line-height: 9.5rem;
                display: flex;
        }
        #OMEDY {
                background-color: rgb(0, 0, 0);
                transform:translateX(-8rem);
                z-index: 40;
        }
        .arrow{
                width: 10rem;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                transition: transform 0.3s ease-in-out;
        }
        h1{
                font-family: 'Alfabet Black';
                font-size: 7rem;
        }
        }
/*for desktop*/        
@media only screen and (min-width: 1441px) {
        .header{
                padding: 3rem;
        }
        .dates, .location{
                font-size: 4.5rem;
                line-height: 4rem;
        }
        .location{
                padding-top: 7rem;
                padding-bottom: 2rem;
        }
        .caviat{
                font-size: 1.5rem;
                line-height: 1.4rem;
        }
        .NEWYORK, .C2OMEDY, .FESTIVAL{
                font-family: 'Alfabet Black';
                font-size: 12rem;
                width: 100%;
                line-height: 10rem;
                display: flex;
        }
        #OMEDY {
                background-color: rgb(0, 0, 0);
                transform:translateX(-8rem);
                z-index: 40;
        }
        .arrow{
                width: 20rem;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                transition: transform 0.3s ease-in-out;
        }
        h1{
                font-family: 'Alfabet Black';
                font-size: 8rem;
        }
        }             
#contentContainer{
        width: 100%;
        overflow: hidden;
        z-index: 200;
}
#thing{
        position: fixed;
        top: 40%;
        width: auto;
        z-index: 200;
    height: auto;
    left: -100%;
    max-width: 30vw;
    pointer-events: none;
    pointer-events: none;
}
.marquee__three {
        display: flex;
        overflow: hidden;
        height: 3vh;
        user-select: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: 2px solid black; 

      }
      
      .marquee--hover-pause:hover .marquee__group__three {
        animation-play-state: paused;
      }
      
      .marquee__group__three {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        gap: .5rem;
        min-width: 100%;
        animation: scroll 30s linear infinite reverse; 
      }

      .marquee__group__three, .marquee__three{
        font-family: 'Alfabet Bold';
        font-size: 1.2rem;

      }
      #name{
        padding-left: 1.8rem;
        color: black;

      }
    
    #name:hover {
        font-family: 'Alfabet Bold Italic';
        color: blue;

    }
    a{
        text-decoration: none;
        color: inherit;
    }
          
      @keyframes scroll {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(calc(-100% - .1rem));

        }
      }
.section-1{
        height: 100vh;
        background-color: black;

        
}
.header{
        background-color: black;
        display: flex;
        justify-content: space-between;
        color: white;
        
}
.title{
        display: inline-block;
       
}
.title-container{
        align-items: center;
        justify-content: center;
        float: left;
        width: 80%;
        
}

.subheader{
        font-family: 'Alfabet Regular';
        padding-top: .8rem;
        width: 23%;
       
}

.arrow-container{
        background-color: black;
        align-items: center;
        justify-content: center;
        padding-left: 3rem;
       
}
.arrow:hover{
border: 3px solid white;

}

*{
        margin: 0;
        padding: 0;
}
.menu{
        font-family: 'Alfabet Bold';
        font-size: 2rem;
        background-color: white;
        position: sticky;

}
.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 60;

      }
nav ul{
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;  
    
}
nav li{
        height: 6rem;
}
nav a{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: top ease .5s;
}
nav li:nth-child(2):hover{
color: blue;
}
nav li:nth-child(3):hover{
        color: #01E200;
        }
nav li:nth-child(4):hover{
color: #FF8C07;
} 
nav li:nth-child(5):hover{
        color: #E7E200;
        }       
nav li:first-child{
        margin-right: auto;
}

.h1-container{
        border: 3px solid black;
        padding-left: 2rem;
      
}
p2{
        font-family: 'Alfabet';
        font-size: 2rem;
     
}
.opener{
        margin: 5rem;
        margin-left: 6rem;
        margin-right: 6rem;
     
}
.disclaimer {
        font-family: 'Alfabet regular';
        font-size: .7rem;
        padding-left: 10rem;
        padding-right: 10rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
      
}

#caroline{
        border: 3px solid black;
        margin-top: -3px;
        margin-bottom: -3px;
        width: 40vw;
}

p3:hover{
        color: #01E200;
}
.carolines-sign-container{
        object-fit: cover;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
}
.carolines-sign-container img{
        border: 3px solid black;
        display: block;
        width:100%
}
.content{
        display: flex;
        flex-direction: row;
   
}

.content {
        padding-top: 1rem;
}
.quote, .more-from-me, p3 {
        font-family: 'Cheltenham Light';
        font-size: 3.5rem;
        line-height: 3.8rem;

}
.more-from-me{
        padding: 1rem;
}
.quote {
        padding: 1rem;
}
.white-box1, .white-box2, .white-box3, .white-box4{
        padding: 65px;
}

.container {
        max-width: 100%;
        margin-inline: auto;
      
}
.grid{
        padding: 2rem;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 25% 25% 25% 25%;
}
.card1 {
        grid-column: span 1;
        object-fit: contain;
        background-image: url(check-1.svg);
        background-repeat: no-repeat;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
}
.card1:hover {
        transform: translate(-20px, 20px);
        -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;


}
.card2 {
        object-fit: contain;
        align-items: center;
        justify-content: center;
        background-image: url(check-2.svg);
        background-repeat: no-repeat;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;

}
.card2:hover {
        transform: translate(-20px, 20px);
        -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

#photo {
        object-fit: contain;
        max-width: 100%;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        align-items: center;
        justify-content: center;
}
#photo:hover, #sarah-photo:hover {
        transform: translate(20px, -20px);
        -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sarah-photo{
        object-fit: contain;
        max-width: 100%;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
}

.card-title {
        font-family: 'Alfabet Bold';
        font-size: 4rem;
        line-height: 3.5rem;
        padding-left: 1rem;
        padding-right: .5rem; 
}
.card-title1{
        font-family: 'Alfabet Bold';
        font-size: 3rem;
        line-height: 3.5rem;
        padding-left: 1rem;
        padding-right: .5rem;   
}
.card-title2{
        font-family: 'Alfabet Bold';
        font-size: 2.8rem;
        line-height: 2.5rem;

        padding-left: 1rem;
        padding-right: .5rem;   
}
.venue{
        font-family: 'Alfabet Bold Italic';
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-left: 1rem;
}
.tickets{
        font-family: 'Alfabet Bold';
        font-size: 2rem;
        background: black;
        color: white;
        padding: 1rem;
        margin: 1rem;
        margin-left: 4rem;
        margin-right: 4rem;
        text-align: center;
}
.tickets:hover{
        border: 3px solid black;
        background: white;
        color: black;
}
.logo-container{
        background-color: black;
        justify-content: center;
     
}
.partner-logos{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3.75rem 0;
    box-sizing: border-box;
}
.row1 img, .row2 img, .row3 img, .row4 img {
        padding: 1.5rem;
}

#abc{
        padding-left: 8rem;
}
#iheart{
        padding-left: 3rem;
}
#newyork{
        padding-left: 12rem;
}
.footer{
        display: flex;
}
h2{
        font-family: 'Alfabet Black';
        font-size: 4rem;
        line-height: 4.2rem;
}
h3{
        font-family: 'Alfabet Bold';
        font-size: 1.5rem;
        padding-top: 1.5rem;
}
.text-here{
        padding: 2rem;
}
.icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem;

}

#facebook{
        width: 10rem;
        padding-left: 1rem;

}
        
.icon-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 1rem;
            padding-left: 8rem;
    
            img {
                width: 4em;
            }
        }
/*.menu{
        font-family:'Alfabet Regular';
        color: white;
        font-size: 5rem;
        align-items: center;
        justify-content: center;
        justify-content: center;
        padding: 0;
        margin: 0;
}*/

.about, .line-up, .press, .another-thing{
        text-align: center;
}      

.about:hover{
        background-color: rgb(5, 81, 250);
        color: black;
}
.line-up:hover{
        background-color: rgb(231, 236, 0);
        color: black
}
.press:hover{
        background-color: rgb(1, 226, 0);
        color: black;
}
.another-thing:hover{
        background-color: rgb(255, 140, 7);
        color: black;
}
#silly-guy{
        padding-top: 0;
        padding-bottom: 3rem;
}