html{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.circle-container{
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    height: 50vh;
    width: 50vh;
    background-color: blue;
    border-radius: 50%;
  }